<section class="flex flex-col justify-star items-center bg-gradient-to-b from-blue-800 to to-blue-500 min-h-fit w-full">
    <div class="flex flex-col justify-center items-center gap-6 w-full h-fit pt-28 p-72">

        <h2 class="font-bold text-center text-3xl text-white">Hi, I'm Richard. Nice to meet you.</h2>
        
        <div class="flex w-3/5">
            <p class="font-medium text-white text-center text-lg">
                Since beginning my journey as a freelance designer over 11 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use.
                I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
            </p>
        </div>
        
    </div>
</section>

<section class="flex justify-center bg-white h-fit w-full">
    <div class="grid grid-cols-3 w-4/6 rounded-xl -mt-48 shadow-lg bg-white border">

        <div class="flex flex-col justify-start items-center h-full w-full border-l-transparent border-y-0 p-10 gap-6">

            <div class="flex flex-col justify-around items-center h-64">
                <span class="flex justify-center items-center w-20 h-20 bg-violet-500 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-mongodb" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 3v19"></path>
                        <path d="M18 11.227c0 3.273 -1.812 4.77 -6 9.273c-4.188 -4.503 -6 -6 -6 -9.273c0 -4.454 3.071 -6.927 6 -9.227c2.929 2.3 6 4.773 6 9.227z"></path>
                     </svg>
                </span>
                
                <h1 class="text-2xl font-bold text-gray-800">Backend Developer</h1>
            
                <p class="text-center text-lg font-medium text-gray-800">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            </div>
            
            <div class="flex flex-col justify-center items-center h-28 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Tecnologies:</span>
                <span class="text-gray-800 font-medium text-lg">JavaScript, NodeJs, Git</span>
            </div>
            
            <div class="flex flex-col justify-center items-center h-60 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Dev Tools:</span>
                <ul class="flex flex-col place-content-center place-items-center">
                   <li class="text-gray-800 font-medium text-lg">Express</li>
                   <li class="text-gray-800 font-medium text-lg">MongoDB</li>
                   <li class="text-gray-800 font-medium text-lg">Mongoose</li>
                   <li class="text-gray-800 font-medium text-lg">VsCode</li>
                   <li class="text-gray-800 font-medium text-lg">Github</li>
                   <li class="text-gray-800 font-medium text-lg">Terminal</li>
                </ul>
            </div>

            
        </div>
        
        <div class="flex flex-col justify-start items-center h-full w-full border-x border-y-0 p-10 gap-6">
            <div class="flex flex-col justify-around items-center h-64">
                <span class="flex justify-center items-center w-20 h-20 bg-violet-500 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-terminal-2" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 9l3 3l-3 3"></path>
                        <path d="M13 15l3 0"></path>
                        <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                     </svg>
                </span>
                
                <h1 class="text-2xl font-bold text-gray-800">Frontend Developer</h1>
    
                <p class="text-center text-lg font-medium text-gray-800">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            </div>

            <div class="flex flex-col justify-center items-center h-28 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Tecnologies:</span>
                <span class="text-gray-800 font-medium text-lg">HTML, CSS3, JavaScript, TypeScript, Git</span>
            </div>

            <div class="flex flex-col justify-center items-center h-60 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Dev Tools:</span>
                <ul class="flex flex-col place-content-center place-items-center ">
                   <li class="text-gray-800 font-medium text-lg">Angular</li>
                   <li class="text-gray-800 font-medium text-lg">VsCode</li>
                   <li class="text-gray-800 font-medium text-lg">Github</li>
                   <li class="text-gray-800 font-medium text-lg">Bootstrap</li>
                   <li class="text-gray-800 font-medium text-lg">Tailwind</li>
                   <li class="text-gray-800 font-medium text-lg">Terminal</li>
                </ul>
            </div>

        </div>

        <div class="flex flex-col justify-start items-center h-full w-full border-r-transparent border-y-0 p-10 gap-6">
            <div class="flex flex-col justify-around items-center h-64">
                <span class="flex justify-center items-center w-20 h-20 bg-violet-500 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brain" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15.5 13a3.5 3.5 0 0 0 -3.5 3.5v1a3.5 3.5 0 0 0 7 0v-1.8"></path>
                        <path d="M8.5 13a3.5 3.5 0 0 1 3.5 3.5v1a3.5 3.5 0 0 1 -7 0v-1.8"></path>
                        <path d="M17.5 16a3.5 3.5 0 0 0 0 -7h-.5"></path>
                        <path d="M19 9.3v-2.8a3.5 3.5 0 0 0 -7 0"></path>
                        <path d="M6.5 16a3.5 3.5 0 0 1 0 -7h.5"></path>
                        <path d="M5 9.3v-2.8a3.5 3.5 0 0 1 7 0v10"></path>
                     </svg>
                </span>
                
                <h1 class="text-2xl font-bold text-gray-800">Personality</h1>
    
                <p class="text-center text-lg font-medium text-gray-800">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            </div>

            <div class="flex flex-col justify-center items-center h-28 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Tecnologies:</span>
                <span class="text-gray-800 font-medium text-lg">HTML, CSS3, JavaScript, TypeScript, Git</span>
            </div>

            <div class="flex flex-col justify-center items-center h-72 gap-1">
                <span class="text-violet-700 text-xl font-semibold">Soft Skills:</span>
                <ul class="flex flex-col place-content-center place-items-center ">
                   <li class="text-gray-800 font-medium text-lg">Resiliencia</li>
                   <li class="text-gray-800 font-medium text-lg">Resolucion de problemas</li>
                   <li class="text-gray-800 font-medium text-lg">Autogestion</li>
                   <li class="text-gray-800 font-medium text-lg">Comunicacion</li>
                   <li class="text-gray-800 font-medium text-lg">Aprendizaje continuo</li>
                   <li class="text-gray-800 font-medium text-lg">Curiosidad</li>
                   <li class="text-gray-800 font-medium text-lg">Responsabilidad</li>
                   <li class="text-gray-800 font-medium text-lg">Trabajo en equipo</li>
                </ul>
            </div>

        </div>


    </div>
</section>